@theme "theme.rasi"

window {
    width: 16%;
}

entry {
    placeholder: "Password";
}

textbox-prompt-colon {
    enabled: true;
    str: "";
}

listview {
    lines: 0;
    columns: 0;
}

element {
    children: [  ];
}
