@theme "theme.rasi"

window {
    width: 32%;
    margin: 6px 6px 0 6px;
    location: south;
    anchor: south;
    border-radius: 8px 8px 0 0;
    border: 1px 1px 0 1px; 
}

entry {
    placeholder: "Solve...";
}

textbox-prompt-colon {
    str: "";
}

listview {
    lines: 4;
    columns: 1;
}

element {
    children: [ element-text ];
}
