@theme "theme.rasi"

window {
    width: 32%;
}

entry {
    placeholder: "Solve...";
}

textbox-prompt-colon {
    str: "";
}

listview {
    lines: 4;
    columns: 1;
}

element {
    children: [ element-text ];
}
