@theme "theme.rasi"

window {
    width: 32%;
    margin: 6px 6px 0 6px;
    location: south;
    anchor: south;
    border-radius: 8px 8px 0 0;
    border: 1px 1px 0 1px; 
}
textbox-prompt-colon {
    str: "󰅇";
}

element {
    children: [ element-text ];
}

listview {
    lines: 9;
    columns: 1;
}
