//                _____                     _____      
//    _________  / __(_)  _________  ____  / __(_)___ _
//   / ___/ __ \/ /_/ /  / ___/ __ \/ __ \/ /_/ / __ `/
//  / /  / /_/ / __/ /  / /__/ /_/ / / / / __/ / /_/ / 
// /_/   \____/_/ /_/   \___/\____/_/ /_/_/ /_/\__, /  
//                                            /____/   
//    
// for clipboard history    

@theme "theme.rasi"

window {
    width: 50%;
    height: 40%;
}

listview {
    scrollbar: false;
}