@theme "theme.rasi"

entry {
    placeholder: "Select color scheme";
}

textbox-prompt-colon {
    str: "";
}

window {
    width: 24%;
}

listview {
    border: 0;
}

element {
    children: [ element-text ];
}

listview {
    lines: 9;
    columns: 1;
}

