@theme "theme.rasi"

mainbox {
    children: [ listview ];
}

window {
    width: 32%;
}

listview {
    border: 0;
}

element {
    children: [ element-text ];
}

listview {
    lines: 3;
    columns: 1;
    padding: 0;
}

