@import "colors.css";

@keyframes blink-critical {
    70% {
        color: @on_background;
    }
    to {
        color: @error;
    }
}

* {
    font-family: "CodeNewRoman Nerd Font Propo";
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
}

#waybar {
    background-color: alpha(@background, 0.5);
    color: @on_background;
    border-radius: unset;
}


tooltip {
    background-color: alpha(@background, 0.85);
    border: 1px solid @outline_variant;
    color: @on_background;
    border-radius: 8px;
    box-shadow: 0px 0px 2px @shadow;
}

.modules-left, 
.modules-right,
.modules-center {
    background-color: alpha(@background, 0.85);
    margin: 4px;
    box-shadow: 0px 0px 2px @shadow;
    border: 1px solid @outline_variant;
    border-radius: 8px;
}

#language,
#cpu,
#memory,
#disk,
#battery,
#pulseaudio,
#network,
#bluetooth,
#clock,
#backlight,
#temperature,
#tray,
#idle_inhibitor,
#privacy,
#mpd,
#power-profiles-daemon,
#custom-powermenu,
#custom-update,
#custom-settings-wrap,
#custom-hardware-wrap,
#custom-rofi {
    padding: 2px 6px; 
    margin: 2px 2px;
    border-radius: 6px;
}

#battery,
#cpu,
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.critical,
#memory.critical {
    color: @error;
}

#workspaces button {
    padding: 2px 6px; 
    margin: 2px 2px;
    border-radius: 6px;
    color: @on_background;
    transition: all 0.2s ease;
}

#mpd:hover,
#language:hover,
#battery:hover, 
#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#clock:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#custom-update:hover,
#custom-settings-wrap:hover,
#custom-hardware-wrap:hover,
#custom-powermenu:hover,
#custom-rofi:hover,
#workspaces button:hover,
#workspaces button.empty:hover,
#workspaces button.active:hover,
#workspaces button.empty.active:hover {
    background-color: @primary;
    color: @on_primary;
}

#workspaces button.active {
    background-color: @secondary;
    color: @on_secondary;
}

#workspaces button.empty {
    color: @tertiary;
}

#workspaces button.empty.active {
    background-color: @secondary;
    color: @on_secondary;
}
