@import "./colors.css";

* {
    font-family: "Jetbrains Mono Nerd Font";
	font-size: 14px;
	font-weight: bold;
}

#waybar {
	background-color: alpha(@background,.6);;
	color: white;
	border-radius: 8px;
}

#language,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#clock,
#backlight,
#temperature,
#tray,
#custom-notifications,
#custom-power {
    background: @secondary_container;
    padding: 0 12px;
    border-radius: 6px;
    margin: 2px;
}

#workspaces button {
    background: @secondary_container;
    padding: 0 12px;
    border-radius: 6px;
    margin: 2px;
}

#workspaces button.active {
    background-color: @primary;
    color: white;
}

#window {
	margin: 0 10px;
}