/* 
*                        __                       __        __   
*  _      ______ ___  __/ /_  ____ ______   _____/ /___  __/ /__ 
* | | /| / / __ `/ / / / __ \/ __ `/ ___/  / ___/ __/ / / / / _ \
* | |/ |/ / /_/ / /_/ / /_/ / /_/ / /     (__  ) /_/ /_/ / /  __/
* |__/|__/\__,_/\__, /_.___/\__,_/_/     /____/\__/\__, /_/\___/ 
*              /____/                             /____/         
*
*/

@import "colors.css";

@keyframes blink-critical {
    70% {
        color: @on_secondary_container;
    }

    to {
        color: @error;
    }
}

* {
    font-family: "CodeNewRoman Nerd Font Propo";
	font-size: 14px;
	font-weight: bold;
    border-radius: 8px;
    box-shadow: none;
}

#waybar {
	/* background-color: alpha(@background,.5); */
    /* background-color: @background; */
    background-color: transparent;
	color: @on_secondary_container;
    border-radius: unset;
}

tooltip {
    background-color: @background;
    /* background-color: alpha(@background,.5); */
    border: solid 1px @primary;
	color: white;
    border-radius: 8px;
}

.modules-left, 
.modules-right,
.modules-center {
    /* background-color: @background; */
	background-color: alpha(@background,.5);
}

#language,
#cpu,
#memory,
#disk,
#battery,
#pulseaudio,
#network,
#bluetooth,
#clock,
#backlight,
#temperature,
#tray,
#idle_inhibitor,
#privacy,
#power-profiles-daemon,
#custom-powermenu,
#custom-update,
#custom-settings-wrap,
#custom-hardware-wrap {
    padding: 2px 8px;
    margin: 2px 2px;
}

#battery,
#cpu,
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.critical {
    color: @error;
}

#memory.critical {
    color: @error
}

#workspaces button {
    color: @on_secondary_container;
    transition: all .2s ease;
    padding: 2px 8px;
    margin: 2px 2px;
}

#language:hover,
#battery:hover, 
#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#clock:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#custom-update:hover,
#custom-settings-wrap:hover,
#custom-hardware-wrap:hover,
#custom-powermenu:hover,
#workspaces button:hover, 
#workspaces button.empty:hover,
#workspaces button.active:hover {
    background-color: @primary_container;
    color: @on_primary_container;
    transition: all .2s ease;
    border-radius: 6px;
}

#workspaces button.active {
    background-color: @secondary_container;
    color: @on_secondary_container;
    border-radius: 6px;
}

#workspaces button.empty {
    color: @tertiary;
    border-radius: 6px;
}

#workspaces button.empty.active {
    color: @on_secondary_container;
    border-radius: 6px;
}
