/* 
*                        __                       __        __   
*  _      ______ ___  __/ /_  ____ ______   _____/ /___  __/ /__ 
* | | /| / / __ `/ / / / __ \/ __ `/ ___/  / ___/ __/ / / / / _ \
* | |/ |/ / /_/ / /_/ / /_/ / /_/ / /     (__  ) /_/ /_/ / /  __/
* |__/|__/\__,_/\__, /_.___/\__,_/_/     /____/\__/\__, /_/\___/ 
*              /____/                             /____/         
*
*/

@import "colors.css";

@keyframes blink-critical {
    70% {
        color: @on_secondary_container;
    }

    to {
        color: @error;
    }
}

* {
    font-family: "CodeNewRoman Nerd Font Propo";
	font-size: 14px;
	font-weight: bold;
    border-radius: unset;
}

#waybar {
	background-color: alpha(@background,.5);
	color: @on_secondary_container;
}

tooltip {
    background-color: alpha(@background,.8);
    border: solid 2px @primary;
	color: white;
}

.modules-left:first-child {
    margin-left: 2px;
}

.modules-right:last-child {
    margin-right: 2px;
}

#language,
#cpu,
#memory,
#disk,
#battery,
#pulseaudio,
#network,
#bluetooth,
#clock,
#backlight,
#temperature,
#tray,
#custom-vpn,
#custom-update,
#custom-settings-wrap,
#custom-hardware-wrap {
    /* border-bottom: solid 2px @on_secondary_container; */ /* its needed for tests */
    /* padding: 4px 8px; */
    padding: 2px 8px;
    margin: 0px 2px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.critical {
    color: @error;
}

#memory.critical {
    color: @error
}

#workspaces {
    margin: 0px 2px;
}

#workspaces button {
    color: @on_secondary_container;
    transition: all .3s ease;
    padding: 2px 8px;
}

#workspaces button:hover {
    background-color: @primary_container;
    color: @on_primary_container;
    transition: all .3s ease;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
}

#workspaces button.empty {
    color: @tertiary;
}

#workspaces button.empty.active {
    background-color: @primary;
    color: @on_primary;
}
