@import "./colors.css";

* {
    font-family: "Jetbrains Mono Nerd Font", monospace;
	font-size: 13px;
	font-weight: bold;
}

tooltip {
    background-color: alpha(@secondary_container,.5);
    border: unset;
	color: white;
	border-radius: 8px;
}

#waybar {
	background-color: alpha(@background,.5);
	color: @on_secondary_container;
	border-radius: 8px;
}

#language,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#clock,
#backlight,
#temperature,
#tray,
#custom-notifications {
    background: @secondary_container;
    padding: 0 12px;
    border-radius: 6px;
    margin: 2px;
}

#workspaces button {
    background: @secondary_container;
    color: @on_secondary_container;
    padding: 0 12px;
    border-radius: 6px;
    margin: 2px;
    transition: all .2s ease;
}

#workspaces button:hover {
    background-color: @primary_container;
    color: @on_primary_container;
    transition: all .2s ease;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
}

#workspaces button.empty {
    background-color: @tertiary_container;
    color: @on_tertiary_container;
}

#workspaces button.empty.active {
    background-color: @primary;
    color: @on_primary;
}

#workspaces button.empty:hover {
    background-color: @primary_container;
    color: @on_primary_container;
    transition: all .2s ease;
}