@import "~/.cache/wal/colors-rofi-dark"

* {
    background: #282828;
    background-color: @background;
}

window {
    border: 2px;
    border-color: @urgent-background;
    width: 25%;
    height: 30%;
}