#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "#101510",
    text_color: "#dfe4dd",
    header_background_color: None,
    modal_background_color: None,
    preview_label_style: (fg: "#dfe4dd"),
    preview_metadata_group_style: (fg: "#dfe4dd", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "#b1f1c1", bg: "#11512e", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "#96d5a7", modifiers: "Bold"),
    current_item_style: (fg: "#b1f1c1", bg: "#11512e", modifiers: "Bold"),
    borders_style: (fg: "#96d5a7"),
    highlight_border_style: (fg: "#dfe4dd"),
    symbols: (song: "", dir: "", playlist: "󰲸", marker: "󰄲 ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "█", "█"],
        track_style: (fg: "#384b3c"),
        elapsed_style: (fg: "#d2e8d4"),
        thumb_style: (fg: "#d2e8d4"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown Artist"))
            ),
            width: "45%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown Title"))
            ),
            width: "45%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "10%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "4",
                borders: "BOTTOM"
            ),
            (
                pane: Pane(TabContent),
                borders: "NONE",
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "3",
                borders: "TOP"
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text(" "), style: (fg: "#96d5a7")),
                    (kind: Property(Song(Title)),
                        default: (kind: Text("No Song"))
                    ),
                    (kind: Text(" / ")),
                    (kind: Property(Song(Artist)),
                        default: (kind: Text("Unknown"))
                    ),
                ],
                center: [
                    (kind: Property(Widget(ScanStatus)), style: (fg: "#dfe4dd")),
                ],
                right: [
                    (kind: Text("Volume: "), style: (fg: "#dfe4dd")),
                    (kind: Property(Status(Volume)), style: (fg: "#dfe4dd")),
                    (kind: Text("%"), style: (fg: "#dfe4dd"))
                ]
            ),
            (
                left: [
                    (kind: Text(" "), style: (fg: "#96d5a7")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                center: [
                ],
                right: [
                ]
            ),
            (
                left: [
                    (kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: ""))), style: (fg: "#96d5a7")),
                    (kind: Text(" ")),
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                ],
                center: [
                    
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#dfe4dd", modifiers: "Bold"),
                            separator_style: (fg: "#dfe4dd")))
                        ),
                        style: (fg: "dark_gray")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
